
*
{
    -border: 1px solid;
}


.header{
    height: 80px;
    -border: 1px solid red;
    display: flex;
    margin: 39px;
    background-color: white;
}

.logo{
    height: 100%;
    width: 27%;
    -border: 1px solid red;
    background-image: url(IMAGE/logo-free-img.png);
    background-repeat: no-repeat;
    max-width: 150px;
    vertical-align: middle;


}

.menu{
    height: 100%;
    width: 80%;
    -border: 1px solid red;
    line-height: 1.5em;
    
    
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    
}

.menu li a {
    list-style: none;
    font-size: 14px;
    margin: 29px;
    text-decoration: none;
    color: black;
    
   
}

a{
    text-decoration: none;
    color: #2f9ee2;
    font-family: "Open Sans", sans-serif;
    transition: 1s;
}

a:hover
{
    color: black;
}
.dropdown{

    -border: 1px solid red;
    height: 180px;
    width: 250px;
    z-index: 1;
    opacity: 0;
    position: relative;
    left: 599px;
    top: -50px;
    box-shadow: 0 0px 5px rgb(156, 156, 156);
    
}

.material-symbols-outlined
{
    position: relative;
    top: 6px;
}

.filter
{
   border: none;
   text-align: center;
    transform: translateY(69px);
    border-radius: 9px;
    position: absolute;
    left: 100px;
    top: 100px;

}

.filter:hover
{
    background-color: black;
    color: antiquewhite;
    
}

.main1
{
    background-color: darkblue;
}

.box
{
    border: 1px solid red;
}

